* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-ferif;
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.2;
}

p {
  font-size: 1.8rem;
  line-height: 1.4;
}

figcaption {
  font-size: 1.2rem;
  font-style: italic;
}

a {
  color: #c44105;
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: double;
  text-decoration-line: underline;
}

li {
  color: #035276;
  font-style: italic;
}

.realce-color {
  color: #0588c4;
}

#realce-frete {
  color: #0588c4;
  text-decoration-line: underline;
}
