/* Global */

/* Sistema de tamanhos: www.typescale.com */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}

h1 {
  font-size: 3.32rem;
  font-weight: 600;
  line-height: 1;
}

h2 {
  font-size: 2.76rem;
  line-height: 1.1;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

.container {
  max-width: 100rem;
  margin: auto;
}
.secao {
  padding: 7.63rem 2rem;
}

.botao {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.65rem 2.5rem;
  color: white;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
}

.realce-semibold {
  font-weight: 600;
}

.hero-paragrafo,
.diferenciais-p,
.comoajudar-lista,
.comoajudar-paragrafo {
  font-size: 1.92rem;
  line-height: 1.3;
}

/* Cabeçalho */

.cabecalho {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.1);
}

/* Temporário */
nav {
  display: none;
}

ul {
  list-style: none;
}

.item-lista-cabecalho a {
  color: #112e61;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active {
  color: #f60;
}

.item-lista-cabecalho.contem-filhos::after {
  content: "\2bc6";
}

/* Seção Hero */

.secao-hero {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-01.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-botao {
  background-image: linear-gradient(180deg, #ff645e, #ff9253);
  border-bottom: solid 0.4rem #993c38;
  border-right: solid 0.4rem #993c38;
}

.hero-botao:hover {
  background-color: #ff9253;
  background-image: none;
  border-bottom: solid 0.4rem #ff9253;
  border-right: solid 0.4rem #ff9253;
}

.iframe-video {
  aspect-ratio: 16/9;
  width: 42rem;
  border-radius: 2.5rem;
  display: none;
}
/* Seção Conteúdos Gratuitos */

.secao-conteudos {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-02.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.circulo-logo-curso {
  display: inline-block;
  background-color: #e7e7e7;
  border-radius: 50%;
  padding: 1.02rem;
  width: 4.5rem;
  height: 4.5rem;
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
}

.circulo-logo-curso img {
  width: 100%;
}

.caixa-cursos-hashtag {
  position: relative;
  box-shadow: inset 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.15);
  border-radius: 2.5rem;
  padding: 2rem;
}

.caixa-gratuito-h3 {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  padding: 0.42rem 1.6rem;
  background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
  color: white;
  border-radius: 1rem;
  transform: rotate(-3deg) translate(-50%, -50%);
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
}

.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.diferenciais-h3 {
  color: #005e88;
  font-size: 2.3rem;
  line-height: 1.2;
}

.gratuito-link-lista:link,
.gratuito-link-lista:visited {
  display: inline-block;
  background-color: #eee;
  padding: 0.42rem 3.122rem;
  border-radius: 2.5rem;
  box-shadow: 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
  font-size: 1.92rem;
  line-height: 1.3;
  text-decoration: none;
  color: inherit;
}

.gratuito-link-lista:hover,
.gratuito-link-lista:active {
  text-decoration: underline;
}

.gratuito-link-lista img {
  width: 1.8rem;
}

/* Seção Diferenciais */

.secao-diferenciais {
  background-color: #f4f5f7;
}

.container-diferenciais {
  border-radius: 5rem;
  background-color: white;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
}

.caixa-titulo-diferenciais {
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  background-image: linear-gradient(225deg, #196b9f, #1a82a7);
  padding: 4.88rem;
  color: white;
}

.caixa-restante-diferenciais {
  padding: 4.88rem;
}

.caixa-itens-diferenciais {
  position: relative;
  border-radius: 2.5rem;
  background-color: white;
  box-shadow: 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  padding: 3.12rem 2.5rem;
}

.caixa-imagem-diferenciais {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #ffaf00;
  width: 10rem;
  height: 10rem;
  padding: 1.6rem;
  box-shadow: inset 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
}

.caixa-imagem-diferenciais img {
  width: 100%;
}

.caixa-diferenciais-h2 {
  flex: 1;
  border-left: solid 0.4rem #ffb20f;
  padding: 0.52rem 0 0.52rem 1.6 rem;
}

.diferenciais-h3 {
  color: #005e88;
  font-weight: 600;
}

.gratuito-h3 {
  color: white;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.2;
}

.diferenciais-h3-empresas a {
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

.diferenciais-empresas img {
  height: 5rem;
  filter: grayscale(100%);
}

.logo-loreal {
  opacity: 60%;
}

.logo-subsea,
.logo-disney {
  opacity: 75%;
}

/* Seção O que falam */

.secao-o-que-falam {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-04.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.o-que-falam-titulo {
  color: white;
}

.o-que-falam-seta {
  position: absolute;
  top: 50%;
}

.o-que-falam-carrossel-img {
  background-color: #7489af;
  background-blend-mode: multiply;
  position: relative;
  background-position: 50%;
  background-size: cover;
  aspect-ratio: 16/9;
  width: 33%;
  border-radius: 2.5rem;
  display: inline-block;
}

.o-que-falam-carrossel {
  position: relative;
}

.seta-esquerda {
  left: 0;
  transform: translate(60% 60%);
}

.seta-direita {
  right: 0;
  transform: translate(60% 60%);
}

.seta-player {
  position: absolute;
  width: 3rem;
  left: 40%;
  top: 40%;
  transform: translate(-50% -50%);
}

.o-que-falam-carrossel-img-1 {
  background-image: url(https://i3.ytimg.com/vi/N_EZD04zmrw/hqdefault.jpg);
}
.o-que-falam-carrossel-img-2 {
  background-image: url(https://i3.ytimg.com/vi/auqWeBJLJHY/hqdefault.jpg);
}
.o-que-falam-carrossel-img-3 {
  background-image: url(https://i3.ytimg.com/vi/FD79IpCaM1Y/hqdefault.jpg);
}

/* Seção Blog */

.blog-postadoem {
  font-size: 1.5rem;
}

.blog-postadoem a {
  font-weight: 600;
  color: #f7a70c;
  text-decoration: none;
}

.blog-titulopost {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
}

.blog-descricaopost {
  font-size: 1.7rem;
}

/* Seção Como ajudar */

.comoajudar-lista a,
.comoajudar-paragrafo a {
  color: #008ff7;
  font-weight: 600;
}

.comoajudar-paragrafo b {
  font-weight: 600;
}

/* Rodapé */

.rodape-titulo {
  font-weight: 600;
  font-size: 2.2rem;
}

.rodape-subtitulo {
  font-size: 2rem;
  font-weight: 500;
}

.rodape-seg-subtitulo {
  font-weight: 500;
  font-size: 1.8rem;
}

.rodape-link {
  color: #1a77a4;
}
