h1,
p,
a {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}

/* Cabeçalho */

.lista-nao-ordenada a {
  color: #112e61;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Seção Hero */

h1 {
  font-size: 35px;
  font-weight: 600;
}

.hero-paragrafo {
  font-size: 19px;
}

.hero-botao {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
